<div>
  <div>
    <div>
      <h2>New ComiC</h2>
      <%= form_with model: @book, local: true do |f| %>
      <div>
        <strong>TITLE</strong>
        <%= f.text_field :title %>
      </div>
      <div>
        <strong>IMPRESSIONS</strong>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit 'Up Load' %>
      </div>
      <% end %>
    </div>
  </div>
</div>