<main>
  <div>
    <div>
      <div>
        <h1>
          <strong>World of hobbies</strong>
        </h1>
        <h2>There is only one correct one</h2>
        <div>
          <div>
            <a href="/books">ComiC</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>